.checkbox {
	width: 20px;
	height: 20px;
	border-radius: 3px;
	margin-right: 15px;
	margin-left: 25px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.checkbox svg {
	cursor: pointer;
}
.checkbox polyline {
	fill: none;
	stroke: #424950;
	stroke-width: 1.8;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 108;
	stroke-dashoffset: 109;
	transition: all 300ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
	vector-effect: non-scaling-stroke;
}
.checkbox.colored {
	width: 20px;
	height: 20px;
	border-radius: 3px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.checkbox.colored:after {
	content: " ";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	border-radius: 50%;
	background-color: #26bbf0;
	transform: scale3d(0, 0, 1);
	transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-delay: 200ms;
}
.checkbox.colored svg {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
.checkbox.colored svg polyline {
	stroke: #fff;
}
.checkbox.colored.triggered:after {
	z-index: 1;
	border-radius: 3px;
	transform: scale3d(1, 1, 1);
	transition: all 200ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
	transition-delay: 0;
}
.checkbox.colored.triggered polyline {
	stroke-dashoffset: 89.5;
	transition-delay: 100ms;
}
.checkbox.colored.dark {
	background: #424950;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
}
.checkbox.green:after {
	background-color: #c2d5a0;
}