.user-input {
    margin-right: 30px;
    width: 210.3px;
    /* height: 49.5px; */
    font-family: Heebo, Alef-Regular, sans-serif;
    font-size: 18.8px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    letter-spacing: 3px;
    color: #ffffff;
    background: transparent;
    text-align: right;
    border: transparent;
    direction: rtl;
    z-index: 2;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 0.5; /* Firefox */
}

user-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
    opacity: 0.5;
}

user-input:-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
    opacity: 0.5;
}
.text-input {
    position: relative;
    width: 257.3px;
    height: 49.5px;
    border-radius: 26.3px;
    border: solid 1px rgba(255, 255, 255, .5);
}
.user-input:focus + .text-input{
    border: solid 1px rgba(255, 255, 255, 1);
}
.input-wrapper {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}