
/*.submit-button {*/
    /*background-color: transparent;*/
    /*border: 2px solid transparent;*/
    /*display: block;*/
    /*padding: 0px;*/
    /*cursor: pointer;*/
    /*font-family: Heebo, 'Alef', sans-serif;*/
    /*font-size: 18.8px;*/
    /*text-align: center;*/
    /*height: 50.5px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*border-radius: 17px;*/
    /*color: #ffffff;*/
    /*z-index: 2;*/
    /*position: absolute;*/
    /*top: 1.8px;*/
    /*right: 2px;*/
/*}*/
.button-text {
    font-size: 20px;
    direction: rtl;
	fill: white;
}
/*.submit-button:hover:enabled{*/
    /*background: rgba(255, 255, 255, 0.9);*/
    /*color: #022b56;*/
/*}*/

button:focus {outline:0;}

.svg-border {
    height:54px;
    position: absolute;
    top: 0;
    right: 0;
	/*cursor: pointer;*/
}
.input-button-wrapper {
    position: relative;
    margin-top: 5px;
}
.next-button-wrapper {
    height: 54px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
}
.lone-button {
    margin: auto;
}

.next-button-disabled {
    opacity: 0.5;
	pointer-events:none;
}
.border-rect {
    fill-opacity: 0;
    fill: white;
	stroke:url(#borderGradient);
	stroke-width:2;
}
svg g:hover .border-rect{
	fill-opacity: 1;
}
svg g:hover .button-text {
	fill: #091a2a;
}