.button-text {
    font-size: 20px;
    direction: rtl;
	fill: white;
	font-family: Heebo, 'Alef', sans-serif;
}

button:focus {outline:0;}

.svg-border {
    height:54px;
    position: absolute;
    top: 0;
    right: 0;
}
.input-button-wrapper {
    position: relative;
    margin-top: 5px;
}
.next-button-wrapper {
    height: 54px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
}
.lone-button {
    margin: auto;
}

.next-button-disabled {
    opacity: 0.5;
	pointer-events:none;
}
.border-rect {
    fill-opacity: 0;
    fill: white;
	stroke:url(#borderGradient);
	stroke-width:2;
}
svg g:hover .border-rect{
	fill-opacity: 1;
}
svg g:hover .button-text {
	fill: #091a2a;
}