.mobile-footer {
    position: fixed;
    bottom: 0;
    height: 10%;
    min-height: 50px;
    max-height: 70px;
    width: 100%;

}
.next-button {
    width: 100%;
    height: 100%;
    background-color: #333333;
    border: solid 1px #595959;
    cursor: pointer;
}
.next-button-text {
    height: 29px;
    font-family: Heebo, Alef-Regular, sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: right;
    color: #ffffff;
    width: fit-content;
}
.next-button-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    /*width: fit-content;*/
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    direction: rtl;
    width: 100%;
    justify-content: center;
}
.arrow-next {
    width: 15px !important;
    height: 14px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 13px;
}