.radio-button{
	width: 260px;
	height: 65px;
	border-radius: 20px;
	/*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);*/
	background-color: transparent;
	border: solid 1px rgba(255, 255, 255, 0.25);
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	margin: 5px;
	cursor: pointer;
	direction: ltr;
}
.radio-button:hover {
	background: rgba(255, 255, 255, 0.1)
}
.radio-button-checked {
	background: rgba(255, 255, 255, 0.1);
}
.radio-button-indicator {
	width: 25px;
	height: 25px;
	border: solid 1.8px #ffffff;
	border-radius: 50px;
	margin-right: 25px;
	margin-left: 25px;
	position: relative;
}
.radio-button-indicator-inside {
	width: 17px;
	height: 17px;
	border: solid 1.8px transparent;
	position: absolute;
	border-radius: 50px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.radio-button-text {
	grid-column-start: 1;
	grid-column-end: 3;
	font-family: 'Heebo', Alef-Regular, sans-serif;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
	direction: rtl;
}
.indicator-chosen {
	background-color: #fee404;
}