.title {
    /*font-size: 3.2vw;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding-top: 101px;
    /*height: 255px;*/
}
.header-title {
    width: fit-content;
    height: 117px;
    font-family: 'Heebo', Alef-Regular, sans-serif;
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.02;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    /*margin-top: 130px;*/
    direction: rtl;

}
.header-sub-title {
    width: fit-content;
    height: 29px;
    font-family: 'Heebo', Alef-Regular, sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 86px;
    direction: rtl;
}
@media only screen and (max-width: 815px) {
    .header-title {
        font-size: 40px;
        height: 80px;
        margin-bottom: 10px;
    }
    .header-sub-title {
        font-size: 15px;
        padding-bottom: 25px;
    }
}